<div class="container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Yelp Copycat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add restaurant</a>
        </li>
        <%# <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li> %>
      </ul>
      <%# <span class="navbar-text">
        Navbar text with an inline element
      </span> %>
    </div>
  </nav>
  <div class="container-fluid mt-5">
    <% @restaurants.each do |restaurant| %>
      <div class="card" style="width: 24rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= restaurant.name %></h5>
          <p class="card-text"><%= restaurant.category %> cuisine.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% end %>
  </div>

</div>
